* {
    font-family: Tahoma;
}

h1.subject {
    text-align: center;
}
h1.welcome {
    margin-bottom: 70px;
    padding-top: 70px;
}

div.content {
    padding-bottom: 70px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h4.bye {
    text-align: center;
    margin-top: 70px;
}

table.room {
    border-collapse: collapse;
    width: 100%
}

.flex {
    display: flex;
}

#footer {
    margin-bottom: 0px;
    background-color: #343a40;
    color: #fff;
}
