{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}

{% block content %}
    <h1 class="subject welcome">CHÀO MỪNG ĐẾN VỚI TEYVAT HOTEL</h1>

        {% if pages > 1 %}
            <ul class="pagination">
                {% for idx in range(1, pages+1) %}
                <li class="page-item"><a class="page-link" href="{{ url_for('home', page=idx) }}">{{ idx }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if rooms %}
        <div class="row">
            {% for p in rooms %}
            <div class="col-md-3 col-xs-12" style="padding:5px">
                <div class="card" style="padding:5px">
                    <img class="card-img-top" src="{{ url_for('static', filename=p.image) }}" alt="{{ p.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ p.name }}</h4>
                        <p class="card-text">{{ "{:,.1f}".format(p.price) }} VND</p>
                        <a href="#" class="btn btn-success" onclick="addToCart()">Đặt phòng</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h4 class="bye">Cám ơn quý khách đã sử dụng dịch vụ!</h4>
        {% else %}
        <p><i>Tạm thời không có phòng!! :((</i></p>
        {% endif %}


{% endblock %}