{% extends 'layout/base.html'%}
{% block title %} Đăng nhập {% endblock %}
{% block content %}
<h1 class="text-center text-danger">ĐĂNG NHẬP</h1>

{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}

<form method="post" action="{{ url_for('user_signin') }}">
    <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" name="username" required/>
    </div>
    <div class="form-group">
        <label for="pass">Mật khẩu</label>
        <input type="password" class="form-control" id="pass" name="password" required/>
    </div>
    <input type="submit" value="Đăng nhập" class="btn btn-danger"/>
</form>
<br><br>
{% endblock %}