<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Danh sách phòng</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container">
    <h1 class="subject">DANH SÁCH PHÒNG</h1>

    <hr>
    <form>
        <input type="text" name="keyword" placeholder="Nhập phòng muốn tìm..."/>
        <input type="number" name="from_price" placeholder="Nhập giá bắt đầu..."/>
        <input type="number" name="to_price" placeholder="Nhập giá kết thúc..."/>
        <input type="submit" value="Tìm"/>
    </form>

    <hr>
    {% if rooms %}
    <table border="1" class="room">
        <tr>
            <th></th>
            <th>Mã phòng</th>
            <th>Tên phòng</th>
            <th>Mô tả</th>
            <th>Giá</th>
        </tr>
        {% for p in rooms %}
        <tr>
            <td>
                <a href="{{ url_for('room_detail', room_id=p.id) }}">
                    <img src="{{ url_for('static', filename=p.image) }}" width="120px" alt="{{ p.name }}"/>
                </a>
            </td>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ "{:,.1f}".format(p.price) }} VND</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><i>Tạm thời không có phòng!! :((</i></p>
    {% endif %}
    </div>
</body>
</html>